#wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    font-family: "Segoe UI";
    color:#f1f1f1;
  }
  
#wrapper > div:first-of-type { background-color: #003399;}
#wrapper > div:nth-of-type(2) { background-color: #5271af}
#wrapper > div:nth-of-type(3) { background-color: #003399}
